.main-footer{
    color:rgb(255, 255, 255);
    background-color: #404646dc;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width:100%;
    }

    .col{
        
    color:rgb(255, 255, 255);
    
    position: center;
    }
   
    .col li{
        
        color:rgb(255, 255, 255);
        
        margin-left: 310px;
        }




    .col h4{
        
        color:rgb(231, 228, 23);
        }

        .col2 h4{
            color:rgb(231, 228, 23);
        }