
  .formUpdateVehicle{
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgba(121, 180, 201, 0.638);
    padding: 10px 40px 10px 40px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 40px;
  
    
  }
